# Example configuration for FlatFinder

[E-Mail] # Optional, but recommended
Address=<example@mail.com>
SMTP-Server=<mail.com>
SMTP-Port=587
SMTP-User=<example>
SMTP-Password=<password>
Recipient=<recipient@example.com>

[Prowl] # Optional
API=1234
Priority=0

[Config] # Optional
Logfile=ff.log
Interval=30 # seconds
Blacklist=Steglitz;Friedenau

[URL] # Required. Leave field empty if you do not want to use a websites
EbayKleinanzeigen=https://www.ebay-kleinanzeigen.de/s-auf-zeit-wg/berlin/c199l3331
WGGesucht1ZimmerWohnung=http://www.wg-gesucht.de/1-zimmer-wohnungen-in-Berlin.8.1.1.0.html?filter=e623eaeef30a694f14408b2941662eff8412e24f029c6ccf2e
WGGesuchtWohnung=http://www.wg-gesucht.de/wohnungen-in-Berlin.8.2.1.0.html?filter=d71e80f8b21e4639141963c897f6591699a77533029c6ccf2e
WohnungsBoerse=http://www.wohnungsboerse.net/searches/index/id:2825/marketing_type:miete/object_type:1/maxprice:550/minrooms:1/minsize:40/state:3/cities:2825/districts:789;790;792;795;812;814;817;824;832;843;846;850;852;854/sort:Estate.importdate/direction:DESC
Immowelt=https://www.immowelt.de/liste/berlin/wg/mieten?d=true&r=10&sd=DESC&sf=TIMESTAMP&sp=1
ImmobilienScout24=
Immonet=https://www.immonet.de/immobiliensuche/sel.do?pageoffset=1&objecttype=1&listsize=26&locationname=Berlin&acid=&actype=&city=87372&ajaxIsRadiusActive=true&sortby=0&suchart=2&radius=0&pcatmtypes=1_2&pCatMTypeStoragefield=&parentcat=1&marketingtype=2&fromprice=&toprice=&fromarea=&toarea=&fromplotarea=&toplotarea=&fromrooms=&torooms=&objectcat=-1&wbs=-1&fromyear=&toyear=&fulltext=&absenden=Ergebnisse+anzeigen
